@using Store.Web.App;
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store.Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Store.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow fixed-top">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="index">"Книжна крамниця" на C#</a>
            <form class="form-inline my-2 my-lg-0" action="@Url.Action("Index", "Search")" method="get">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Назва або автор" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">śukacz</button>
            </form>
            <div class="cart-status ms-lg-auto me-4">
                @{
                    if (Context.Session.TryGetCart(out Cart cart) && cart.TotalCount != 0)
                    {
                        <a href="@Url.Action("Index", "Order")" class="text-white text-decoration-none">
                            <strong>У кошику @cart.TotalCount товарів на суму @cart.TotalPrice.ToString("C")</strong>
                        </a>
                    }
                    else
                    {
                        <strong>Кошик порожній</strong>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container main-content">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            © 2024 - Store.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>