@model DeliveryDetailsViewModel
@{
    ViewData["Title"] = "Параметри доставки";
}

<div class="container py-5">
    <h1 class="mb-4 fw-bold">Параметри доставки</h1>
    <form action="@Url.Action("UpdateDelivery")" method="post" id="deliveryForm" class="card p-4 shadow-sm" style="height:auto">
        <input type="hidden" name="id" value="@Model.OrderId" />
        <div class="row">
            <!-- Ліва колонка: Способи доставки -->
            <div class="col-md-6 mb-4">
                <h3 class="mb-3 fw-bold">Доставка</h3>
                <div class="mb-3">
                    <label for="deliveryCode" class="form-label">Спосіб доставки</label>
                    <select class="form-select" name="deliveryCode" onchange="document.getElementById('deliveryForm').submit();">
                        @foreach (var method in Model.DeliveryContractors)
                        {
                            <option value="@method.Key" selected="@(Model.DeliveryForm?.Code == method.Key ? "selected" : null)">@method.Value</option>
                        }
                    </select>
                </div>
                @foreach (var field in Model.DeliveryForm.Fields)
                {
                    <div class="mb-3">
                        <label for="@field.Name" class="form-label">@field.Label</label>
                        <select class="form-select" name="values[@field.Name]" id="@field.Name" onchange="document.getElementById('deliveryForm').submit();">
                            @foreach (var item in field.Items)
                            {
                                <option value="@item.Key" selected="@(field.Recorder && item.Key == field.Value ? "selected" : null)">@item.Value</option>
                            }
                        </select>
                    </div>
                }
            </div>

            <!-- Права колонка: Способи оплати -->
            <div class="col-md-6 mb-4">
                <h3 class="mb-3 fw-bold">Оплата</h3>
                <div class="mb-3">
                    <label for="paymentCode" class="form-label">Спосіб оплати</label>
                    <select class="form-select" name="paymentCode" onchange="document.getElementById('deliveryForm').submit();">
                        @foreach (var method in Model.PaymentContractors)
                        {
                            <option value="@method.Key" selected="@(Model.PaymentForm?.Code == method.Key ? "selected" : null)">@method.Value</option>
                        }
                    </select>
                </div>
                @foreach (var field in Model.PaymentForm.Fields)
                {
                    <div class="mb-3">
                        <label for="@field.Name" class="form-label">@field.Label</label>
                        <select class="form-select" name="values[@field.Name]" id="@field.Name" onchange="document.getElementById('deliveryForm').submit();">
                            @foreach (var item in field.Items)
                            {
                                <option value="@item.Key" selected="@(field.Recorder && item.Key == field.Value ? "selected" : null)">@item.Value</option>
                            }
                        </select>
                    </div>
                }
            </div>
        </div>
        <!-- Кнопка внизу -->
        <div class="row">
            <div class="col-12">
                <h4>Вартість доставки: 150 грн</h4>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success btn-custom w-100 mt-3" name="final" value="true">Підтвердити</button>
            </div>
        </div>
    </form>
</div>