@model OrderViewModel

@{
    ViewData["Title"] = "Корзина";
}

<h1>Корзина</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Название
            </th>
            <th>
                Автор
            </th>
            <th>
                Кол-во
            </th>
            <th>
                Цена (1 шт.)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                    <a asp-action="YourPage" asp-route-id="@item.BookId" class="rounded-circle text-secondary btn-minus-link" style="font-size: 24px;">&minus;</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <form asp-action="RemoveItem" asp-controller="Order" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@item.BookId" />
                        <button type="submit" class="btn btn-sm btn-outline-secondary ms-2">-</button>
                    </form>
                    <span class="mx-2">@item.Count</span>
                    <form asp-action="AddItem" asp-controller="Order" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@item.BookId" />
                        <button type="submit" class="btn btn-sm btn-outline-secondary me-2">+</button>
                    </form>
                </div>
            </td>
            <td>
                @item.Price.ToString("C")
            </td>
        </tr>
}
    </tbody>
</table>
<div class="d-flex justify-content-end mt-3">
    <div class="border rounded p-3" style="width: 300px;">
        <strong>
            <div class="d-flex">
                <span class="flex-grow-1">Общее Кол-во:</span>
                <span class="text-end">@Model.TotalCount</span>
            </div>
            <div class="d-flex">
                <span class="flex-grow-1">Общая Цена:</span>
                <span class="text-end">@Model.TotalPrice.ToString("C")</span>
            </div>
        </strong>
    </div>
</div>
<form action="@Url.Action("SendConfirmationCode")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="cellPhone">Номер телефона</label>
        <div class="phone-input-wrapper">
            <div class="phone-input-prefix">+380</div>
            <input type="text" class="phone-input-field" name="cellPhone" value="" placeholder="00-000-0000" />
        </div>
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success mt-3">Отправить код</button>
</form>
