@using Store.Web.App;
@model OrderViewModel
@{
    ViewData["Title"] = "Кошик";
}

<div class="container py-5">
    <h1 class="mb-4 fw-bold">Кошик</h1>
    <div class="card card-no-animation mb-4" style="height: auto">
        <div class="card-body">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="width: 40px;"></th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                        <th scope="col">Назва</th>
                        <th scope="col">Автор</th>
                        <th scope="col" style="width: 150px;">Кількість</th>
                        <th scope="col">Ціна (1 шт.)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr data-book-id="@item.BookId">
                            <td>
                                <button onclick="removeItems(@item.BookId)" class="btn btn-danger btn-sm rounded-circle btn-minus-link">−</button>
                            </td>
                            <td>@item.BookId</td>
                            <td>@item.Title</td>
                            <td>@item.Author</td>
                            <td>
                                <div class="d-flex align-items-center justify-content-between" style="width: 120px;">
                                    <button onclick="removeItem(@item.BookId)" class="btn btn-cart btn-cart-minus">-</button>
                                    <span class="fw-bold item-count-@item.BookId" style="min-width: 40px; text-align: center;">@item.Count</span>
                                    <button onclick="updateCart(@item.BookId)" class="btn btn-cart btn-cart-plus">+</button>
                                </div>
                            </td>
                            <td>@item.Price.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-end mb-4">
        <div class="card card-no-animation p-3" style="width: 300px; height:auto">
            <strong>
                <div class="d-flex amount-row"><span class="flex-grow-1">Загальна кількість:</span><span class="total-count">@Model.TotalCount</span></div>
                <div class="d-flex amount-row"><span class="flex-grow-1">Загальна ціна:</span><span class="total-price">@Model.TotalPrice.ToString("C")</span></div>
            </strong>
        </div>
    </div>
        <div class="mb-3">
            <label for="cellPhone" class="form-label">Номер телефону</label>
            <div class="input-group" style="max-width: 300px;">
                <span class="input-group-text phone-input-prefix">| +38 |</span>
            <input type="text" class="form-control phone-input-field" name="cellPhone" placeholder="000-000-0000" value="@Model.CellPhone" />
            </div>
            <small class="phone-error error-text text-danger fw-bold fs-5 d-block mt-2"></small>
        </div>
        <button onclick="fetchCellPhoneErrors(document.querySelector('input[name=cellPhone]').value, '/Order/StartDelivery')" class="btn btn-outline-success w-100">Відправити код</button>
    @if(Model.CellPhone != null)
    {
        <form asp-action="StartDelivery" asp-controller="Order" method="get">
            <button type="submit" class="btn btn-outline-success w-100">
                У вас уже є підтверджений номер! Почніть оформлення замовлення прямо зараз
            </button>
        </form>
    }
    

</div>